.gridTitleCenterCss{
    text-align:center;
    font-weight: normal;
    font-size: small;
    color: #04408C;
 }

.layoutTitle {
    font-weight: bold;
    font-size: 14px;
}

/**Set style for button*/
.buttonOnLayout {
    font-weight: bold;
    font-size: small;
}

.thongtinchitiet {
    font-weight: bold;
    font-size: small;
}